doctype html
html
  head
    title = "Hello Pug"
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh",
      crossorigin="anonymous"
    )
  body
    div.container
      h1.text-center.m-5 Wordpress de-serializer!

      form(
        action="/wp-options/new-data",
        method="post"
      )
        div.input-group
          input.form-control.mt-5.mr-4.ml-4(
            type="text",
            id="wpEndpoint",
            name="wpEndpoint",
            placeholder="Wordpress API for data",
            value=wpEndpoint
          )

        div.input-group
          input.form-control.m-4(
            type="text",
            id="oldURL",
            name="oldURL",
            placeholder="Old Wordpress Site URL"
          )
        
        div.input-group
          input.form-control.mr-4.ml-4(
            type="text",
            id="newURL",
            name="newURL",
            placeholder="New Wordpress Site URL"
          )
        
        button.btn.btn-primary.m-4(
          type="submit"
        ) Changer l'URL

      if oldData || newData
        -var data = oldData ? oldData : newData
        #displayOld
          if oldData
            h1 Old Data
          else
            h1 Saved Data
          pre(style="height:500px")
            code.prettyprint #{data}
        

    script(
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n",
      crossorigin="anonymous"
    )

    script(
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo",
      crossorigin="anonymous"
    )

    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6",
      crossorigin="anonymous"
    )

    script(src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js")
